.loading-box {
    background-color: #fff; /* Fondo blanco del recuadro */
    padding: 1.5rem; /* Espaciado interno */
    border-radius: 0.5rem; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para el recuadro */
    display: flex;
    flex-direction: column; /* Alinear el spinner y el texto verticalmente */
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 150px; /* Ancho mínimo */
    position: absolute; /* Posiciona el recuadro */
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar para centrar exacto */
    z-index: 1050; /* Asegúrate de que esté encima del contenido */
  }
  
  .spinner-border {
    width: 2rem; /* Reducir tamaño del spinner */
    height: 2rem;
    border-width: 0.2rem;
  }
  
  .loading-text {
    margin-top: 0.5rem; /* Espacio entre el spinner y el texto */
    font-size: 1rem; /* Tamaño del texto */
    font-weight: bold; /* Negrita para el texto */
    color: #000; /* Texto negro */
  }

  input:disabled {
    background-color: white; // Elimina el fondo gris
    color: inherit; // Asegura que el texto herede el color del contexto
    
    opacity: 1; // Asegúrate de que no esté translúcido
  }