<!-- Loading Spinner -->
<div *ngIf="isLoading$ | async" class="loading-box">
    <div class="spinner-border text-primary" role="status"></div>
    <span class="loading-text">Cargando...</span>
</div>


<div class="card">
    <!--begin::Card header-->
    <div class="card-header border-0 pt-6">
        <!--begin::Card title-->
        <div class="card-title">

            <div class="row">

                <div class="col-4">
                    <!--begin::Select2-->
                    <select class="form-select fw-bolder" name="segmento_cliente_id" placeholder="Tipo de cliente"
                        [(ngModel)]="segmento_cliente_id">
                        <option [ngValue]="9999999" selected>Tipo de cliente</option>

                        <ng-container *ngFor="let item of segmentos_clientes">
                            <option [value]="item.id">{{ item.nombre }}</option>
                        </ng-container>
                    </select>
                    <!--end::Select2-->
                    <!--begin::Description-->
                    <div class="text-muted fs-7">Tipo de cliente</div>
                    <!--end::Description-->
                </div>

                <div class="col-4">
                    <!--begin::Select2-->
                    <select class="form-select fw-bolder" name="categoria_id" placeholder="Categorias"
                        [(ngModel)]="categoria_id">
                        <option [ngValue]="9999999" selected>Categoria</option>

                        <ng-container *ngFor="let item of categorias">
                            <option [value]="item.id">{{ item.nombre }}</option>
                        </ng-container>
                    </select>
                    <!--end::Select2-->
                    <!--begin::Description-->
                    <div class="text-muted fs-7">Categoria</div>
                    <!--end::Description-->
                </div>

                <div class="col-4">
                    <!--begin::Select2-->
                    <select class="form-select fw-bolder" name="vendedor_id" placeholder="Vendedor"
                        [(ngModel)]="vendedor_id">
                        <option [ngValue]="9999999" selected>Vendedor</option>

                        <ng-container *ngFor="let item of vendedores">
                            <option [value]="item.id">{{ item.name }}</option>
                        </ng-container>
                    </select>
                    <!--end::Select2-->
                    <!--begin::Description-->
                    <div class="text-muted fs-7">Vendedor</div>
                    <!--end::Description-->
                </div>

                <div class="col-2">
                    <!--begin::Select2-->
                    <select class="form-select mb-2" placeholder="Metodo de pago" [(ngModel)]="metodo_pago_id"
                        name="metodo_pago_id">
                        <option [ngValue]="9999999" selected>Metodo de pago</option>

                        <ng-container *ngIf="metodos_pagos">
                            <ng-container *ngFor="let item of metodos_pagos">
                                <option [ngValue]="item.id">{{ item.nombre }}</option>
                            </ng-container>
                        </ng-container>
                    </select>
                    <!--end::Select2-->
                    <!--begin::Description-->
                    <div class="text-muted fs-7">Metodos de pagos.
                    </div>
                    <!--end::Description-->
                </div>

                <div class="col-3">
                    <!--begin::Select2-->
                    <select class="form-select mb-2" name="sede_id" placeholder="Seleccione sede" [(ngModel)]="sede_id">
                        <option [ngValue]="9999999" selected>Sedes</option>

                        <ng-container *ngFor="let item of sedes">
                            <option [value]="item.id">{{ item.nombre }}</option>
                        </ng-container>
                    </select>
                    <!--end::Select2-->
                    <!--begin::Description-->
                    <div class="text-muted fs-7">Sedes.</div>
                    <!--end::Description-->
                </div>


                <div class="col-2">
                    <div class="input-group ">
                        <input type="date" name="fecha_inicio" class="form-control form-control-lg "
                            (change)="onFechaInicioChange()" [(ngModel)]="fecha_inicio" />
                    </div>
                    <!--begin::Description-->
                    <div class="text-muted fs-7">Fecha de inicio.
                    </div>
                    <!--end::Description-->
                </div>

                <div class="col-2">
                    <div class="input-group ">
                        <input type="date" name="fecha_final" class="form-control form-control-lg "
                            (change)="onFechaFinalChange()" [(ngModel)]="fecha_final" />
                    </div>
                    <!--begin::Description-->
                    <div class="text-muted fs-7">Fecha final.
                    </div>
                    <!--end::Description-->
                </div>

                <div class="col-3">
                    <button (click)="listar()" class="btn btn-primary btn-icon me-2" placement="top"
                        ngbTooltip="Buscar">
                        <i class="ki-duotone ki-magnifier fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </button>

                    <button (click)="resetList()" class="btn btn-dark btn-icon me-2" placement="top"
                        ngbTooltip="Resetear">
                        <i class="ki-duotone ki-arrows-circle fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </button>

                    <button (click)="download()" class="btn btn-success btn-icon me-2" placement="top"
                        ngbTooltip="Exportar Factura">
                        <i class="ki-duotone ki-folder-down fs-2">
                            <span class="path1"></span>
                            <span class="path2"></span>
                        </i>
                    </button>
                    <button (click)="exportPdf()" class="btn btn-danger btn-icon me-2" placement="top"
                        ngbTooltip="Exportar en pdf">
                        <i class="fa-solid fa-file-pdf fs-2"></i>
                    </button>

                </div>
            </div>
        </div>
        <!--begin::Card title-->
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body pt-0">
        <!--begin::Table-->
        <div id="kt_customers_table_wrapper" class="dt-container dt-bootstrap5 dt-empty-footer">
            <div id="" class="table-responsive">
                <table class="table table-row-dashed table-row-gray-100 align-middle gs-0 gy-3 dataTable"
                    id="kt_customers_table" style="width: 1150.9px;">

                    <thead>
                        <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                            <th class="min-w-125px text-center">#</th>
                            <th class="min-w-125px">Nº</th>
                            <th class="min-w-125px">Cliente</th>
                            <th class="min-w-125px">Vendedor</th>
                            <th class="min-w-125px">Fecha</th>
                            <th class="min-w-125px text-end">Total Venta</th>
                            <th class="min-w-125px">Forma de pago</th>
                            <th class="min-w-125px">Sede</th>
                        </tr>
                    </thead>
                    <tbody class="fw-semibold text-gray-600">
                        <ng-container *ngIf="facturas.length <= 0">
                            <tr>
                                <td style='font-weight: bold;vertical-align: middle;'
                                    class="text-center text-gray-900 fw-bold text-hover-primary fs-1" colspan="8">
                                    No existen ventas para estos criterios de busqueda
                                </td>
                            </tr>
                        </ng-container>
                        <ng-container *ngFor="let item of facturas; let i=index;">
                            <!-- <pre>{{ item.factura_pago?.metodo_pago| json }}</pre> -->
                            <tr>
                                <td style='font-weight: bold;vertical-align: middle;text-wrap: nowrap;'
                                    class="text-center text-gray-900 fw-bold text-hover-primary">
                                    {{ (i+1)}}
                                </td>

                                <td style='font-weight: bold;text-wrap: nowrap;vertical-align: middle;'
                                    class="text-gray-900 fw-bold text-hover-primary text-capitalize"
                                    style="text-wrap: nowrap;">
                                    {{ formatFacturaId(item.id) }}
                                </td>

                                <td style="text-wrap: nowrap;vertical-align: middle;">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex justify-content-start flex-column">
                                            <a style="text-transform: capitalize;" href="#" onclick="return false;"
                                                class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">{{
                                                item.cliente.nombres }} {{ item.cliente.tipo_identificacion === 6 ?
                                                '': item.cliente.apellidos
                                                }}</a>
                                            <span
                                                class="text-muted fw-semibold text-muted d-block fs-7 text-hover-primary text-capitalize">
                                                {{ item.cliente.segmento?.nombre }}
                                            </span>
                                        </div>
                                    </div>
                                </td>

                                <td style='font-weight: bold;vertical-align: middle;'
                                    class="text-gray-900 fw-bold text-hover-primary text-capitalize"
                                    style="text-wrap: nowrap;">{{
                                    item.usuario.name }}</td>

                                <td style='font-weight: bold;vertical-align: middle;'
                                    class="text-gray-900 fw-bold text-hover-primary text-capitalize"
                                    style="text-wrap: nowrap;">{{
                                    item.created_format_at | date:'yyyy-MM-dd'}}
                                </td>

                                <td style='font-weight: bold;vertical-align: middle;'
                                    class="text-gray-900 fw-bold text-hover-primary text-capitalize text-end"
                                    style="text-wrap: nowrap;">
                                    $ {{
                                    (item.sub_total - item.total_descuento + item.total_iva) |
                                    number:'1.2-2' }}
                                </td>

                                <td style="text-wrap: nowrap;vertical-align: middle;">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex justify-content-start flex-column">
                                            <a style="text-transform: capitalize;" href="#" onclick="return false;"
                                                class="text-gray-900 fw-bold text-hover-primary mb-1 fs-6">
                                                {{ item.factura_pago?.[0]?.metodo_pago?.nombre || 'Sin método de pago'
                                                }}
                                            </a>
                                        </div>
                                    </div>
                                </td>

                                <td style='font-weight: bold;text-wrap: nowrap;vertical-align: middle;'
                                    class="text-gray-900 fw-bold text-hover-primary  text-capitalizetext-capitalize"
                                    style="text-wrap: nowrap;">{{
                                    item.sede?.nombre }}</td>
                            </tr>
                        </ng-container>

                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="text-end fw-bold">Total:</td>
                            <td class="text-end fw-bold">
                                $ {{ getTotalVenta() | number:'1.2-2' }}
                            </td>
                            <td colspan="2"></td>
                        </tr>
                    </tfoot>

                </table>
            </div>
            <ngb-pagination [collectionSize]="totalPages" [(page)]="currentPage" [pageSize]="20" [rotate]="true"
                [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
        <!--end::Table-->
    </div>
    <!--end::Card body-->
</div>