<!--begin::Menu wrapper-->
<div id="kt_app_sidebar_menu_scroll" class="scroll-y my-5 mx-3" data-kt-scroll="true" data-kt-scroll-activate="true"
  data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
  data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
  <!--begin::Menu-->
  <div class="menu menu-column menu-rounded menu-sub-indention fw-semibold fs-6" id="#kt_app_sidebar_menu"
    data-kt-menu="true" data-kt-menu-expand="false">
    <!-- Dashboard -->
    <div class="menu-item">
      <a class="menu-link without-sub" routerLink="/dashboard" routerLinkActive="active">
        <span class="menu-icon">
          <app-keenicon name="element-11" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" translate="MENU.DASHBOARD"></span>
      </a>
    </div>

    <!-- Sistema -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
      *ngIf="showMenu(['registrar_usuario','editar_usuario','ver_usuarios','eliminar_usuario']) || showMenu(['registrar_roles','editar_roles','ver_roles','eliminar_roles']) || showMenu(['registrar_sede','editar_sede','eliminar_sede','ver_sede'])">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="setting" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Sistema
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">

        <div class="menu-item" *ngIf="isRole()">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/configuraciones/empresas/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Empresa
            </span>
          </a>
        </div>

        <div class="menu-item"
          *ngIf="showMenu(['registrar_usuario','editar_usuario','ver_usuarios','eliminar_usuario'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/usuarios/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Usuarios
            </span>
          </a>
        </div>

        <div class="menu-item" *ngIf="showMenu(['registrar_roles','editar_roles','ver_roles','eliminar_roles'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/roles/listar">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Roles
            </span>
          </a>
        </div>

        <div class="menu-item" *ngIf="showMenu(['registrar_sede','editar_sede','eliminar_sede','ver_sede'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/configuraciones/sedes/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Sedes
            </span>
          </a>
        </div>

      </div>
    </div>

    <!-- Inventario -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
      *ngIf="showMenu(['registrar_articulos','editar_articulos','ver_articulos','eliminar_articulos']) || showMenu(['registrar_bodega','editar_bodega','eliminar_bodega','ver_bodega'])">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="some-files" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title">Inventario
        </span>
        <span class="menu-arrow"></span>
      </span>

      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">

        <div class="menu-item" *ngIf="showMenu(['registrar_bodega','editar_bodega','eliminar_bodega','ver_bodega'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/configuraciones/bodegas/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Bodegas
            </span>
          </a>
        </div>

        <div class="menu-item"
          *ngIf="showMenu(['registrar_sedeDeliverie','editar_sedeDeliverie','eliminar_sedeDeliverie','ver_sedeDeliverie'])">
          <a class="menu-link without-sub" routerLinkActive="active"
            routerLink="/configuraciones/lugar-de-entrega/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Lugar de entrega
            </span>
          </a>
        </div>

        <div class="menu-item"
          *ngIf="showMenu(['registrar_metodoPago','editar_metodoPago','eliminar_metodoPago','ver_metodoPago'])">
          <a class="menu-link without-sub" routerLinkActive="active"
            routerLink="/configuraciones/metodos-de-pagos/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Metodos de pagos
            </span>
          </a>
        </div>

        <div class="menu-item"
          *ngIf="showMenu(['registrar_segmentoCliente','editar_segmentoCliente','eliminar_segmentoCliente','ver_segmentoCliente'])">
          <a class="menu-link without-sub" routerLinkActive="active"
            routerLink="/configuraciones/segmento-de-clientes/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Segmento de clientes
            </span>
          </a>
        </div>

        <div class="menu-item"
          *ngIf="showMenu(['registrar_categoria','editar_categoria','eliminar_categoria','ver_categoria'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/configuraciones/categorias/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Categorias
            </span>
          </a>
        </div>

        <div class="menu-item"
          *ngIf="showMenu(['registrar_proveedor','editar_proveedor','eliminar_proveedor','ver_proveedor'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/configuraciones/proveedores/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Proveedores
            </span>
          </a>
        </div>

        <div class="menu-item" *ngIf="showMenu(['registrar_unidad','editar_unidad','eliminar_unidad','ver_unidad'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/configuraciones/unidades/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Unidades
            </span>
          </a>
        </div>

        <div class="menu-item" *ngIf="showMenu(['registrar_iva','editar_iva','eliminar_iva','ver_iva'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/configuraciones/iva/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Ivas
            </span>
          </a>
        </div>

        <!--begin:Menu item-->
        <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start"
          class="menu-item menu-lg-down-accordion" *ngIf="showMenu(['registrar_articulos','ver_articulos'])"
          routerLinkActive="here show">
          <!--begin:Menu link-->
          <span class="menu-link">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" data-link="/articulos">Articulos</span>
            <span class="menu-arrow"></span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-active-bg px-lg-2 py-lg-4 w-lg-225px"
            routerLinkActive="menu-active-bg">
            <!--begin:Menu item-->
            <div class="menu-item" *ngIf="showMenu(['registrar_articulos'])">
              <!--begin:Menu link-->
              <a class="menu-link" routerLinkActive="active" routerLink="/articulos/registrar">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Registrar</span>
              </a>
              <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
            <!--begin:Menu item-->
            <div class="menu-item" *ngIf="showMenu(['ver_articulos'])">
              <!--begin:Menu link-->
              <a class="menu-link" routerLinkActive="active" routerLink="/articulos/list">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Listar</span>
              </a>
              <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
          </div>
          <!--end:Menu sub-->
        </div>
        <!--end:Menu item-->

        <!-- <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/settings">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Proveedores
            </span>
          </a>
        </div> -->

        <!--begin:Menu item-->
        <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start"
          class="menu-item menu-lg-down-accordion"
          *ngIf="showMenu(['registrar_movimiento','ver_movimiento','editar_movimiento'])" routerLinkActive="here show">
          <!--begin:Menu link-->
          <span class="menu-link">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" data-link="/movimientos">Movimientos</span>
            <span class="menu-arrow"></span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-active-bg px-lg-2 py-lg-4 w-lg-225px"
            routerLinkActive="menu-active-bg">
            <!--begin:Menu item-->
            <div class="menu-item" *ngIf="showMenu(['registrar_movimiento'])">
              <!--begin:Menu link-->
              <a class="menu-link" routerLinkActive="active" routerLink="/movimientos/registrar">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Registrar</span>
              </a>
              <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
            <!--begin:Menu item-->
            <div class="menu-item" *ngIf="showMenu(['ver_movimiento','editar_movimiento'])">
              <!--begin:Menu link-->
              <a class="menu-link" routerLinkActive="active" routerLink="/movimientos/listado">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Listar</span>
              </a>
              <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
          </div>
          <!--end:Menu sub-->
        </div>
        <!--end:Menu item-->

        
        <!--begin:Menu item-->
        <div data-kt-menu-trigger="{default:'click', lg: 'hover'}" data-kt-menu-placement="right-start"
          class="menu-item menu-lg-down-accordion"
          *ngIf="showMenu(['registrar_solicitud','ver_solicitud','editar_solicitud'])" routerLinkActive="here show">
          <!--begin:Menu link-->
          <span class="menu-link">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title" data-link="/solicitudes">Solicitudes</span>
            <span class="menu-arrow"></span>
          </span>
          <!--end:Menu link-->
          <!--begin:Menu sub-->
          <div
            class="menu-sub menu-sub-lg-down-accordion menu-sub-lg-dropdown menu-active-bg px-lg-2 py-lg-4 w-lg-225px"
            routerLinkActive="menu-active-bg">
            <!--begin:Menu item-->
            <div class="menu-item" *ngIf="showMenu(['registrar_solicitud'])">
              <!--begin:Menu link-->
              <a class="menu-link" routerLinkActive="active" routerLink="/solicitudes/registrar">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Registrar</span>
              </a>
              <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
            <!--begin:Menu item-->
            <div class="menu-item" *ngIf="showMenu(['ver_solicitud','editar_solicitud'])">
              <!--begin:Menu link-->
              <a class="menu-link" routerLinkActive="active" routerLink="/solicitudes/listado">
                <span class="menu-bullet">
                  <span class="bullet bullet-dot"></span>
                </span>
                <span class="menu-title">Listar</span>
              </a>
              <!--end:Menu link-->
            </div>
            <!--end:Menu item-->
          </div>
          <!--end:Menu sub-->
        </div>
        <!--end:Menu item-->

        <div class="menu-item"
          *ngIf="showMenu(['registrar_cliente','editar_cliente','eliminar_cliente','ver_cliente'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/clientes/list">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Clientes
            </span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/overview">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Plantillas
            </span>
          </a>
        </div>

      </div>
    </div>

    <!-- Facturas -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show"
      *ngIf="showMenu(['registrar_factura','ver_factura'])">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="two-credit-cart" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/facturas/listado">Facturas
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">

        <div class="menu-item" *ngIf="showMenu(['registrar_factura'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/facturas/crear">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Crear
            </span>
          </a>
        </div>

        <div class="menu-item" *ngIf="showMenu(['ver_factura'])">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/facturas/listado">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Listado
            </span>
          </a>
        </div>

      </div>
    </div>

    <!-- Reportes -->
    <div class="menu-item menu-accordion" data-kt-menu-trigger="click" routerLinkActive="here show">
      <span class="menu-link">
        <span class="menu-icon">
          <app-keenicon name="questionnaire-tablet" class="fs-2"></app-keenicon>
        </span>
        <span class="menu-title" data-link="/crafted/account">Reportes
        </span>
        <span class="menu-arrow"></span>
      </span>
      <div class="menu-sub menu-sub-accordion" routerLinkActive="menu-active-bg">

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/overview">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Ventas
            </span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/overview">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Baja Existencia
            </span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/overview">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Lo más pedido
            </span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/overview">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Códigos
            </span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/overview">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Inventario
            </span>
          </a>
        </div>

        <div class="menu-item">
          <a class="menu-link without-sub" routerLinkActive="active" routerLink="/crafted/account/overview">
            <span class="menu-bullet">
              <span class="bullet bullet-dot"></span>
            </span>
            <span class="menu-title">Movimientos
            </span>
          </a>
        </div>
      </div>
    </div>

  </div>
  <!--end::Menu-->
</div>
<!--end::Menu wrapper-->